@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes spring {
    0% { transform: translateX(0px); }
    25% { transform: translateX(2px); }
    50% { transform: translateX(-2px); }
    100% { transform: translateX(2px); }
}

@keyframes tilt {
    0% { transform: translateY(0px); }
    25% { transform: translateY(2px); }
    50% { transform: translateY(-2px); }
    100% { transform: translateY(2px); }
}